// Theme Colors
$bg-color: #ffffff;
$text-color: #000000;
$border-color: #cccccc; 

// Font
$font-family: 'Roboto Slab', serif;
$font-size: 16px;

// Sizes
$search-bar-width: 60%;
$checkbox-container-width: 20%;
$cell-radius: 10%; 
